.player-bar{
	width: 100%;	
	bottom: 0;
	position: fixed;
}

.shuffle-button{
	width: 25px;
	height: 30px;
	margin-right: -6vw;
}
.shuffle-button:hover{
	transform: translateX(-0.1vw);
}
.shuffle-button:active{
	transform: translate(-0.1vw,0.1vh);
}