.card-home{
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 1rem;
	width: 90%;
	height: 60vh;
	cursor:pointer;
}

.img-home{
	width: 100%;
	height: 15rem;
	object-fit:cover;
}

.img-avatar-play{
	width: 4vw;
	height: 4vw;
	margin-right: 2vw;
}

.infor-play{
	max-height: 9vh;
	margin-right: 1vw;
	margin-left: 2vw;
	color: white;
}

.pTitle{
	font-size: 1.1rem;
	margin-bottom: 0;
}

.pCreator{
	font-size: 0.8rem;
}

.player-bar{
	width: 100%;	
	bottom: 0;
	position: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.card-home:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.playbutton {
  width: 40%;
  height:auto;
  color: white;
  z-index: 1;
  position: absolute;
  left:30%;
  top: 20%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.card-home:hover .playbutton {
  opacity: 1;
}