.card-home{
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 1rem;
	width: 90%;
	height: 60vh;
}

.img-home{
	width: 100%;
	height: 15rem;
	object-fit:cover;
	cursor:pointer;
}

.img-avatar-play{
	width: 4vw;
	height: 4vw;
	margin-right: 2vw;
}

.infor-play{
	max-height: 9vh;
	margin-right: 1vw;
	margin-left: 2vw;
	color: white;
}

.pTitle{
	font-size: 1.1rem;
	margin-bottom: 0;
}

.pCreator{
	font-size: 0.8rem;
}

.player-bar{
	width: 100%;	
	bottom: 0;
	position: fixed;
}
